@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

/* обращаемся ко всем элементам */
* {
  /* сбрасываем все браузерные стили */
  all: unset;
  display: revert;
}









:root {
 --color-primary: #262A2F;
 --color-grey: #868686;

 --header-font-size: 24px;

 --grid-culumn-width: 101px;
 --grid-gap: 20px;
}



body {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  color: var(--color-primary);
  font-size: 22px;
  font-weight: 300;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, var(--grid-culumn-width));  
  gap: var(--grid-gap);
}

.header {
  padding-top: 38px;
  padding-bottom: 150px;
}

.container {
  max-width: 1435px;
  margin: 0 auto;
}

.navigation__logo {
  grid-column: span 4;
  padding-right: 32px;
}

.navigation__image {
  width: 100%;
}

.navigation__list {
  list-style: none;
  grid-column: 6/-1 ;
  display: flex;
}

.navigation__item {
  margin-right: 90px;
  text-transform: uppercase;
  font-size: var(--header-font-size);
  font-weight: 400;
}

.navigation__item:last-child {
  margin-right: 0px;
}

.navigation__link {
  cursor: pointer;
}

.navigation__link:hover {
  border-bottom: 1px solid #262A2F;
}

.navigation__link--active {
  border-bottom: 1px solid #262A2F;
  /* color: red; */
}

/* articles */
.articles {
  margin-bottom: 135px;
}

.articles__big-culumn {
 grid-column: span 9;
}

.articles__small-culumn {
 grid-column: 10/-1;
} 

.main-article {
  display: grid;
  grid-template-columns: repeat(9, var(--grid-culumn-width));
  gap: var(--grid-gap); 
  padding-bottom: 65px;
  border-bottom: solid 1px #D6D6D6;
  margin-bottom: 65px;
  margin-right: 65px;
}

.main-article:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: solid 0px #D6D6D6;

}

.article-category {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

}

.article-source {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-grey);
  text-transform: uppercase;
}

.article-date {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase; 
}

.main-article__image-container {
  position: relative;
  grid-column: span 3;
  max-height: 344px;
  min-height: 185px;
  overflow: hidden;
}

.main-article__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-article__content {
  grid-column: 4/-1;
  padding-right: 63px;
}

.main-article__category {
  margin-bottom: 7px; 
}

.main-article__title {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 25px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main-article__text {
  margin-bottom: 30px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main-article__source {

}

/* smoll articke  (блок новостей в правой колонке) */

.smoll-article {
  padding-left: 18px;
  border-left: solid 1px var(--color-primary);
  margin-bottom: 35px;
}

.smoll-article:last-child {
  margin-bottom: 0;
}

.smoll-article__title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.smoll-article__caption {
}

.smoll-article__date {
}

.article-date {
}

.smoll-article__source {
}

.article-source {
}

.article-date + .article-source::before {
  content: ' • '; 
}

.footer {
  padding-top: 20px;
  padding-bottom: 55px;
}

.footer-navigation {
  margin-bottom: 47px;
  align-items: center;
}

.footer-navigation .navigation__logo {
  grid-column: span 2;
  padding-right: 56px;
}

.footer-navigation .navigation__list {
  grid-column: 3/-1;
}


